.bg-gradient{
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.active{
  color: rgb(8, 190, 129);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.slick-slide > div{
  margin: 0 50px;
}
.slick-list{
  margin: 0 -50px;
}

.get-started{
  animation: outlineAnimation 2s infinite;
}
@keyframes outlineAnimation {
  0% {
    outline: 2px solid transparent;
    outline-offset: 0;
  }
  50% {
    outline: 2px solid #adafb0;
    outline-offset: 4px; 
  }
  100% {
    outline: 2px solid transparent;
    outline-offset: 0;
  }
}
